<html>
    <head>
        <title><%= user %>'s Color Stories</title>
        <link rel="stylesheet" href="/css/storyhubstyle.css" />
        <script>
            //Web Speech API - speechSynthesis
            var synth = window.speechSynthesis;

            function say(something){
                var utterThis = new SpeechSynthesisUtterance(something);
                utterThis.voice = synth.getVoices()[0];
                utterThis.pitch = 1;
                utterThis.rate = 1;
                synth.speak(utterThis);
            }
        </script>
        
    </head>
    <body>
        <div id="headerbar">
            <a class="headerbutton" href="/logout">Logout</a>
            <a class="headerbutton" href="/">Main Hub</a>
            <a class="headerbuttonsolid" href="/public/newPage.html">New Story</a>
        </div>

        <h1>Welcome Back, @<%= user %>!</h1>
        <% if (data.length == 0){ %>
            <h2>Create your first Color Story!</h2>
            <a style="float: left; margin:2%;" class="headerbuttonsolid" href="/public/newPage.html">New Story</a>
        <% }else{ %>
            <h2>Here are your Color Stories</h1>
        <% } %>


        <div id="contenttoggle">SHOW TEXT</div>
        

        <% for (var i = 0; i < data.length; i++){ %>
            <div class="storybox" id="story<%= i %>" style="background-color: <%= data[i].storyColor %>">
                <%  if (data[i].visibility == "privateView"){ %>
                    <div class="cornertag">PRIVATE</div>
                <% }else{ %>
                    <div class="cornertag">PUBLIC</div>
                <% } %>
                <div id="storyboxcontent<%= i %>" class="storyboxcontent">
                    <%= data[i].story %>
                </div>
            </div>
        <% } %>
    </body>

    <script>
        var dataLenth = (document.getElementsByClassName('storybox')).length;

        for (var i = 0; i < dataLenth; i++){ 
            var inputButton = document.getElementById("story" + i);
            inputButton.addEventListener('click', function(event){
                var target = event.target;
                say(
                    target.children[target.children.length-1].innerText
                );
            });
        }

        document.getElementById("contenttoggle").onclick = function(){
            myFunction();
        }
        function myFunction() {
            for (var i = 0; i < dataLenth; i++){ 
                var content = document.getElementById("storyboxcontent" + i);
                var box = document.getElementById("story" + i);
                content.classList.toggle("storyboxcontentshow");
                box.classList.toggle("storyboxshow");
            }
            var togglebutton = document.getElementById("contenttoggle");
            if (togglebutton.innerHTML === "SHOW TEXT") {
                togglebutton.innerHTML = "HIDE TEXT";
            } else {
                togglebutton.innerHTML = "SHOW TEXT";
            }
        }
    </script>

    
</html>